<%page expression_filter="h" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from six import text_type
from edxmako.shortcuts import marketing_link
from openedx.core.djangolib.markup import HTML, Text
from openedx.core.lib.courses import course_image_url
from six import string_types
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if can_add_course_to_cart:
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link | n, decode.utf8}";
        }
        if (jqXHR.status == 400) {
          $("#register_error").text(
            jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred. Please try again later.") | n, decode.utf8}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link | n, decode.utf8}";
        }
      };

      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[text_type(course.id)]) | n, decode.utf8}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = Text(_('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the enroll button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.')).format(
                          start_help_tag=HTML("<a href='{url}'>").format(url=marketing_link('FAQ')), end_tag=HTML('</a>'),
                          start_logout_tag=HTML("<a href='{url}'>").format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        // location.href = "${reverse('dashboard') | n, decode.utf8}";
        location.href = "${course_target}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[text_type(course.id)]) | n, decode.utf8 }?course_id=${course.id | n, decode.utf8 }&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').text("${perms_error | n, decode.utf8}").css("display", "block");
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, decode.utf8}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${course_target}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          location.href = "${reverse('register_user') | n, decode.utf8  }?course_id=${course.id | n, decode.utf8 }&enrollment_action=enroll";
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, decode.utf8}")
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default}</%block>

<section class="course-info">

  <div class="course-header-container">
      <div class="course-displayname-show">
           <h1>
            ${course.display_name_with_default}
          </h1>
      </div>
      <div class="course-starttime-show">
          <h2>${_('Start Date')}: ${course.start}</h2>
      </div>
      <div class="course-action-show">
          %if user.is_authenticated and registered:
            %if show_courseware_link:
            <span class="register disabled">${_("You are enrolled in this course")}</span>
            <div class="course-enroll-button" onclick="javascript:void(window.location.href='${course_target}')">
            <a href="${course_target}" style="color: black; width: 100%; height: 100%">
            %endif

            %if show_courseware_link:
                <span class="view-course">${_("View Course")}</span>
            </a>
            </div>
             %endif

          %elif in_cart:
          <div class="course-enroll-button" onclick="javascript:void(window.location.href='${cart_link}')">
              <span class="add-to-cart">
                  <a href="${cart_link}" style="color: black;">${Text(_('This course is in your cart.')).format(cart_link=cart_link)}</a>
              </span>
          </div>
          % elif is_course_full:
          <div class="course-enroll-button">
              <span class="register disabled">
                ${_("Course is full")}
              </span>
          </div>
          % elif invitation_only and not can_enroll:
          <div class="course-enroll-button">
            <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
          </div>
          % elif not is_shib_course and not can_enroll:
          <div class="course-enroll-button">
            <span class="register disabled">${_("Enrollment is Closed")}</span>
          </div>
          %elif can_add_course_to_cart:
          <%
          if user.is_authenticated:
            reg_href = "#"
            reg_element_id = "add_to_cart_post"
          else:
            reg_href = reg_then_add_to_cart_link
            reg_element_id = "reg_then_add_to_cart"
          %>
          <% if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
              reg_element_id = ""
          %>
          <div class="course-enroll-button add-to-cart" id="${reg_element_id}">
              <a href="${reg_href}" style="color: black;">
                ${Text(_("Add {course_name} to Cart {start_span}({price}){end_span}")).format(
                    course_name=course.display_name_with_default,
                    start_span=HTML("<span>"),
                    end_span=HTML("</span>"),
                    price=course_price)}
              </a>
          </div>
          <div id="register_error"></div>
          %elif allow_anonymous:
              %if show_courseware_link:
                <a href="${course_target}">
                <strong class="view-course">${_("View Course")}</strong>
                </a>
              %endif
          %else:
          <%
            if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
            else:
              reg_href="#"
            if professional_mode:
              href_class = "add-to-cart"
            else:
              href_class = "register"
          %>
          <div class="course-enroll-button ${href_class}">
            <a href="${reg_href}" style="color: black;">
                ${_("Enroll Course")}
            </a>
          </div>
          <div id="register_error"></div>
        %endif

      </div>
  </div>

  <div class="container">

    <%block name="course_about_details">
    <div class="details">
      % if staff_access and studio_url is not None:
        <div class="wrap-instructor-info studio-view">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      % endif

      <div class="inner-wrapper">
        ${HTML(get_course_about_section(request, course, "overview"))}
      </div>
    </div>
    </%block>

    <div class="course-sidebar">
          % if get_course_about_section(request, course, "video"):
          <a href="#video-modal" class="media" rel="leanModal">
            <div class="hero" style="width: 100px; height: 100px;">
              <img src="${course_image_urls['large']}" alt="" onerror="javascript:this.src='/static/images/default_course_image.jpg'" style="width: 100%;"/>
              <div class="play-intro"></div>
            </div>
          </a>
          %else:
          <div class="media">
            <div class="hero">
              <img src="${course_image_urls['large']}" alt="" onerror="javascript:this.src='/static/images/default_course_image.jpg'" style="width: 100%;"/>
            </div>
          </div>
          % endif

      <div class="course-summary" style="margin-top: 20px;">

        <%include file="course_about_sidebar_header.html" />

        <%block name="course_about_important_dates">
        <ol class="important-dates">
          <li class="important-dates-item"><span class="icon fa fa-info-circle" aria-hidden="true"></span><p class="important-dates-item-title">${_("Course Number")}</p><span class="important-dates-item-text course-number">${course.display_number_with_default}</span></li>
          % if not course.start_date_is_still_default:
              <%
                  course_start_date = course.advertised_start or course.start
              %>
            <li class="important-dates-item">
              <span class="icon fa fa-calendar" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Classes Start")}</p>
              % if isinstance(course_start_date, string_types):
                  <span class="important-dates-item-text start-date">${course_start_date}</span>
              % else:
                  <%
                     course_date_string = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                  %>
                  <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></span>
              % endif
            </li>
          % endif
            ## We plan to ditch end_date (which is not stored in course metadata),
            ## but for backwards compatibility, show about/end_date blob if it exists.
            % if course.end:
                <%
                    course_end_date = course.end
                %>

            <li class="important-dates-item">
                <span class="icon fa fa-calendar" aria-hidden="true"></span>
                <p class="important-dates-item-title">${_("Classes End")}</p>
                  % if isinstance(course_end_date, string_types):
                      <span class="important-dates-item-text final-date">${course_end_date}</span>
                  % else:
                    <%
                        course_date_string = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                    %>
                    <span class="important-dates-item-text final-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></span>
                  % endif
            </li>
            % endif

          % if get_course_about_section(request, course, "effort"):
            <li class="important-dates-item"><span class="icon fa fa-pencil" aria-hidden="true"></span><p class="important-dates-item-title">${_("Estimated Effort")}</p><span class="important-dates-item-text effort">${get_course_about_section(request, course, "effort")}</span></li>
          % endif

          ##<li class="important-dates-item"><span class="icon fa fa-clock-o" aria-hidden="true"></span><p class="important-dates-item-title">${_('Course Length')}</p><span class="important-dates-item-text course-length">${_('{number} weeks').format(number=15)}</span></li>

          %if course_price and (can_add_course_to_cart or is_cosmetic_price_enabled):
            <li class="important-dates-item">
              <span class="icon fa fa-money" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Price")}</p>
              <span class="important-dates-item-text">${course_price}</span>
            </li>
          %endif

          % if pre_requisite_courses:
          <% prc_target = reverse('about_course', args=[unicode(pre_requisite_courses[0]['key'])]) %>
          <li class="prerequisite-course important-dates-item">
            <span class="icon fa fa-list-ul" aria-hidden="true"></span>
            <p class="important-dates-item-title">${_("Prerequisites")}</p>
            ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
            <span class="important-dates-item-text pre-requisite"><a href="${prc_target}">${pre_requisite_courses[0]['display']}</a></span>
            <p class="tip">
            ${Text(_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.")).format(
              link_start=HTML('<a href="{}">').format(prc_target),
              link_end=HTML('</a>'),
              prc_display=pre_requisite_courses[0]['display'],
            )}
            </p>
          </li>
          % endif

          % if get_course_about_section(request, course, "prerequisites"):
            <li class="important-dates-item"><span class="icon fa fa-book" aria-hidden="true"></span><p class="important-dates-item-title">${_("Requirements")}</p><span class="important-dates-item-text prerequisites">${get_course_about_section(request, course, "prerequisites")}</span></li>
          % endif
        </ol>
        </%block>
    </div>

      <%block name="course_about_reviews_tool">
      ## Course reviews tool
      % if reviews_fragment_view:
       ${HTML(reviews_fragment_view.body_html())}
      % endif
      </%block>

      ## For now, ocw links are the only thing that goes in additional resources
      % if get_course_about_section(request, course, "ocw_links"):
      <div class="additional-resources">
        <header>
          <h1>${_("Additional Resources")}</h1>
      </div>

        <div>
          ## "MITOpenCourseware" should *not* be translated
          <h2 class="opencourseware">MITOpenCourseware</h2>
             ${get_course_about_section(request, course, "ocw_links")}
        </div>
    </div>
      %endif

    % if sidebar_html_enabled:
      % if get_course_about_section(request, course, "about_sidebar_html"):
        <section class="about-sidebar-html">
          ${get_course_about_section(request, course, "about_sidebar_html")}
        </section>
      % endif
    %endif
  </div>

  </div>
</div>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id }">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>

<script type="text/javascript" src="${static.url('common/js/vendor/jquery.js')}"></script>
<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="application/javascript">
    var $2 = $.noConflict();
    $2('.fa-dingtalk').click(function () {
        var dingtalk_target_url = $2('#dingtalk_target_url').html();
        var dingtalk_text = $2('#dingtalk_text').html();
        var course_image_url = $2('#course_image_url').html();
        var dingtalk_title = $2('#dingtalk_title').html();
        if (dd.env.platform=="notInDingTalk") {
            alert('please open it in DingTalk')
        } else {
            dd.biz.util.share({
                type: 1,//分享类型，0:全部组件 默认；1:只能分享到钉钉；2:不能分享，只有刷新按钮
                url: dingtalk_target_url,
                title: dingtalk_title,
                content: dingtalk_text,
                image: course_image_url,
                onSuccess : function(info) {
                },
                onFail : function(err) {
                }
            })
        }
    });

    $2('.fa-wechat').click(function () {
        var dingtalk_target_url = $2('#dingtalk_target_url').html();
        var dingtalk_text = $2('#dingtalk_text').html();
        var course_image_url = $2('#course_image_url').html();
        var dingtalk_title = $2('#dingtalk_title').html();
        var now_url = window.location.href;
        var host= window.location.host;
        var protocolStr = document.location.protocol;
        data = {
            "url": now_url
        }
        $2.ajax({
            url:  protocolStr+ '//' + host + "/api/courses/v1/coursessharewechat/",
            type: "POST",
            data: data,
            dataType: "json",
            async: false,
            success: function (info) {
                if (info['status'] == '10001') {
                    var timestamp = info['data']['timestamp'];
                    var noncestr = info['data']['noncestr'];
                    var signature = info['data']['signature'];
                    var appid = info['data']['appid']
                } else {
                    alert(info['msg'])
                }
                wx.config({
                  debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                  appId: appid, // 必填，公众号的唯一标识
                  timestamp: timestamp, // 必填，生成签名的时间戳
                  nonceStr: noncestr, // 必填，生成签名的随机串
                  signature: signature,// 必填，签名
                  jsApiList: [
                      'updateAppMessageShareData'
                  ] // 必填，需要使用的JS接口列表
                });
                wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                  wx.updateAppMessageShareData({
                    title: dingtalk_title, // 分享标题
                    desc: dingtalk_text, // 分享描述
                    link: dingtalk_target_url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: course_image_url, // 分享图标
                    success: function () {
                    }
                  })
                });
            },
            error: function (err) {
                console.log(err)
            }
        });
    })
</script>

% if domon_type == 'live':
<script type="application/javascript">
    $(document).ready(function () {
        if ($.trim($('.course-displayname-show').find('h1').html()) == '${_("COURSE_EXAMPLE")}' ) {
            var enjoyhint_instance = new EnjoyHint({});
            var enjoyhint_script_steps = [];
            if ($.trim($('.course-action-show').children('div').children('a').html()) == '${_("Enroll Course")}') {
                enjoyhint_script_steps = [
                  {
                    selector:'.register',//jquery selector
                    event:'click',
                    description:'${_("Click enroll course")}'
                  }
                ];
            } else {
                enjoyhint_script_steps = [
                  {
                    selector:'.course-enroll-button',//jquery selector
                    event:'click',
                    description:'${_("Click to view the course")}'
                  }
                ];
            }
            enjoyhint_instance.set(enjoyhint_script_steps);
            enjoyhint_instance.run();
        }
    });

</script>
% endif
